<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="Server.Properties.Settings.ServerDatabaseConnectionString"
        connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\ServerDatabase.mdf;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="Server.Properties.Settings.DatabaseServerConnectionString"
        connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;F:\UN\06-02-2017-22-30 PEERTOPEERDONE\BACKUP\CLIENTSERVER\APPLICATIONDATABASESERVER\DATABASESERVER.MDF&quot;;Integrated Security=True;Connect Timeout=30"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
 